extends:
  - airbnb
  - prettier

plugins:
  - prettier

parser:
  babel-eslint

settings:
  ecmascript: 6

ecmaFeatures:
  modules: true
  destructuring: true
  classes: true
  forOf: true
  blockBindings: true
  arrowFunctions: true

env:
  browser: true
  mocha: true

rules:
  arrow-body-style: 0
  func-style: 0
  func-names: 0
  comma-dangle: 0
  no-console: 0
  no-param-reassign: 0
  linebreak-style: 0
  import/no-extraneous-dependencies: 0
  import/no-unresolved: 0
  import/extensions: 0
  import/prefer-default-export: 0
  import/no-named-as-default: 0
  import/no-commonjs: 2
  space-return-throw-case: 0
  object-shorthand: 0
  complexity: 0
  strict: [2, "never"]
  no-confusing-arrow: 0
  prettier/prettier: ["error", {"trailingComma": "all", "singleQuote": true, "semi": false, "printWidth": 180 }]
  import/no-absolute-path: 0
  react/require-default-props: 0
  react/forbid-prop-types: 0
  react/prop-types: 0
  react/jsx-filename-extension: 0
  react/prefer-stateless-function: 0
  react/no-string-refs: 0
